<!--
Elément de la liste des salons
    - pp_link : lien de l'image
    - name : nom du salon
    - status : type de status (classe html, soit "status-online" soit "status-offline")
    - status_text : texte du status
-->

<div class="server-container" id="{{id}}" style="background-image: url({{bg_image}});">
    <div class="server-pp-container">
        <img src="{{pp_link}}">
    </div>
    <div class="server-content-container">
        <span class="server-name" style="background-image: linear-gradient(90deg, {{server_name_color}});">{{name}}</span>
        <div class="server-status" style="color: {{server_statut_color}};">
            {{status}}
        </div>
    </div>
</div>