<!--
Elément de la liste des salons
    - pp_link : lien de l'image
    - name : nom du salon
    - status : type de status (classe html, soit "status-online" soit "status-offline")
    - status_text : texte du status
-->

<div class="social-container" onclick="open_chat({{name}})">
    <div class="pp-container">
        <img src="{{pp_link}}">
    </div>
    <div class="content-container">
        <span class="username">{{name}}</span>
        <div class="social-status">
            <div class="status-icon {{status}}"></div>
            <span class="status-text">{{status_text}}</span>
        </div>
    </div>
</div>