<!--
Contenu de la fenêtre du terminal
    - content : lignes du terminal (éléments html)
-->

<div class="terminal" id="{{id}}">
    <div class="terminal-body">
        <!-- Besoin du container sinon ça fait bugger la taille du terminal -->
        <div class="terminal-body-container" id="{{id}}-content"><!-- content --></div>
    </div>
    <div class="terminal-footer">
        <input type="text" class="terminal-input" placeholder="Ecrivez une commande..." autocomplete="off">
        <div class="terminal-send">Envoyer</div>
    </div>
</div>