<!--
Fenêtre pouvant contenir des interfaces
    - title : titre de la fenêtre
    - content : corps de la fenêtre (éléments html)
-->

<div class="window window-visible" id="{{id}}" style="left: 0; top: 0;">
    <div class="window-resizer corner tl"></div>
    <div class="window-resizer corner tr"></div>
    <div class="window-resizer corner bl"></div>
    <div class="window-resizer corner br"></div>
    <div class="window-resizer t"></div>
    <div class="window-resizer b"></div>
    <div class="window-resizer l"></div>
    <div class="window-resizer r"></div>
    <div class="window-header">
        <div class="window-title">{{title}}</div>
        <div class="window-buttons">
            <div class="window-button window-minimize">_</div>
            <div class="window-button window-maximize">[]</div>
            <div class="window-button window-close">X</div>
        </div>
    </div>
    <div class="window-content" id="{{id}}-content">
        <!-- content -->
    </div>
</div>