<!--
Fenêtre pouvant contenir des interfaces
    - title : titre de la fenêtre
    - content : corps de la fenêtre (éléments html)
-->

<div class="window window-visible" id="{{id}}" style="left: 0; top: 0;">
    <div class="window-header">
        <div class="window-title">{{title}}</div>
        <div class="window-buttons">
            <div class="window-button window-minimize">_</div>
            <div class="window-button window-maximize">[]</div>
            <div class="window-button window-close">X</div>
        </div>
    </div>
    <div class="window-content">
        {{content}}
    </div>
</div>