/*
 * Styles pour le fragment 'chat'
 */

.chat{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 10px;
    background-color: var(--dark-secondary);
    border-radius: 6px;
    height: 100%;
}

.chat-body {
    flex-grow: 1;
    margin-bottom: 10px;
    padding: 5px;
    color: var(--primary);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.chat-body-container {
    /* magie noire */
    max-height: 0;
}

.chat-footer {
    display: flex;
    padding: 5px;
    background-color: var(--dark-secondary);
    border: 2px solid var(--border-glow);
    filter: drop-shadow(0 0 5px var(--glow));
    border-radius: 12px;
}

.chat-input {
    all: unset;
    flex-grow: 1;
    margin: 0 5px;
    color: var(--text-primary);
}

.chat-send {
    margin: 0 5px;
    background-color: var(--border-glow);
    border-radius: 12px;
    padding: 3px 7px;
    cursor: pointer;
}