/*
 * Styles pour le fragment 'social_container'
 */

 .server-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--secondary1);
    background-size: 100%;
    background-position: center;
    z-index: 1;
}

.pp-container{
    display: flex;
    margin-left: 5px;
    align-items: center;
    width: 28%;
    max-width: 60px;
    min-width: 30px;
}

.pp-container img{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 30%;
    z-index: 2;
}

.server-status{
    color: var(--secondary3);
    margin-top: 5px;
}

.server-content-container{
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 100%;
    overflow-wrap: anywhere;
    z-index: 2;
}

.server-name{
    background-clip: text;
    color: transparent;
    margin-top: 5px;
    overflow-wrap: anywhere;
    text-overflow: ellipsis;
}

@keyframes server-name-animation {
    0% {
        scale : 1;
        filter: brightness(1);
    }
    20% {
        scale : 1.025;
        filter: brightness(1.2) hue-rotate(10deg);
    }
    100% {
        scale: 1.05;
        filter: brightness(1.2) hue-rotate(12deg);
    }
}

.server-name:hover{
    animation-name: server-name-animation;
    animation-duration: 0.4s;
    scale: 1.05;
    filter: brightness(1.1) hue-rotate(12deg);
}