/*
 * Styles pour le fragment 'terminal'
 */

.terminal {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 10px;
    background-color: var(--dark1-secondary);
    border-radius: 6px;
    height: calc(100% - 51px);
}

.terminal-body {
    flex-grow: 1;
    margin-bottom: 10px;
    padding: 5px;
    color: var(--primary);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.terminal-body-container {
    /* magie noire */
    max-height: 0;
}

.terminal-body-container > .chat-message {
    margin: 10px 0;
}

.terminal-line {
    font-weight: 400;
    word-break: break-all;
}

.terminal-footer {
    display: flex;
    padding: 5px;
    background-color: var(--dark1-secondary);
    border: 2px solid var(--glow);
    filter: drop-shadow(0 0 5px var(--glow-shadow));
    border-radius: 12px;
}

.terminal-input {
    all: unset;
    flex-grow: 1;
    margin: 0 5px;
    color: var(--text-primary);
}

.terminal-send {
    margin: 0 5px;
    background-color: var(--glow);
    border-radius: 12px;
    padding: 3px 7px;
    cursor: pointer;
}