@import url('./styles/button.css');
@import url('./styles/chat.css');
@import url('./styles/login.css');
@import url('./styles/message.css');
@import url('./styles/nav.css');
@import url('./styles/social_container.css');
@import url('./styles/terminal.css');
@import url('./styles/window_minimized.css');
@import url('./styles/window.css');
@import url('./styles/drop_down_menu.css');


/*instaces*/
:root{
    --border-glow : rgb(59, 40, 168);
    --border : rgb(82, 65, 175);
    --primary: rgb(41, 41, 41);
    --secondary: rgb(57, 57, 57);
    --text-primary: rgb(210, 210, 210);
    --text-secondary: rgb(110, 110, 110);
    --dark : rgb(8, 8, 8);
    --dark-secondary: rgb(18, 18, 18);
    --hue : 0deg;
    
    --border-light: rgb(108, 69, 206);
    --glow: rgba(108, 69, 206, 0.5);

    --icons: rgb(61, 61, 61);
}
@font-face {
	font-family: 'main';
	src: url('fonts/CascadiaCode.ttf') format('truetype');
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--glow);
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background-color: var(--dark);
    border-radius: 10px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

body, html{
    margin : 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body{
    font-family: 'main', sans-serif;
    display: flex;
    flex-direction: column;
    color: white;
}

/*main blocks*/
header{
    height: 14%;
    max-height: 130px;
    min-height: 100px;
    min-width: 600px;
    background-color: black;
    border-bottom: var(--border-glow) solid 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 4%;
    padding-right: 3%;
}
main{
    background-color: rgb(26, 26, 26);
    height: 100%;
    display: flex;
    flex-direction: row;
}

/*classes*/
.header-interactions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}

.search-icon{
    margin-right: 4px;
    filter: opacity(0.5);
    cursor: pointer;
}

.hide-arrow{
    aspect-ratio: 1/1;
    height: 35px;
    align-items: center;
    justify-content: center;
    display: flex;
}


/*id*/
#app-name{
    font-size: 3em;
}

.hide-arrow > img{
    filter: brightness(0.3);
    height: 100%;
    scale: 1.2;
}

.hide-arrow:hover > img{
    transition: 0.2s;
    scale: 1;
}

#header-button{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    max-width: 300px;
    min-width: 150px;
}

#main-search-bar-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border-radius: 12px;
    background: rgb(255,0,206);
    background: linear-gradient(190deg, rgba(255,0,206,1) 0%, rgba(29,0,255,1) 100%);
    filter: hue-rotate(var(--hue));
    filter: drop-shadow(0 0 15px var(--border-glow));
    height: 44px;
    width: 40%;
}

#main-search-bar-border{
    background-color: rgb(68, 68, 68);
    border-radius: 10px;
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main-search-bar{
    all: unset;
    width: 100%;
    border-radius: 10px;
    margin-left: 4px;
}

#workspace{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#workspace-windows{
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 100%;
    gap: 4px;
}

#workspace-content{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

    position: relative;
    overflow: hidden;
}