/*instaces*/
:root{
    --border-glow : rgb(59, 40, 168);
    --border : rgb(82, 65, 175);
    --primary: rgb(41, 41, 41);
    --secondary: rgb(57, 57, 57);
    --text-primary: rgb(210, 210, 210);
    --text-secondary: rgb(110, 110, 110);
    --dark : rgb(8, 8, 8);
    --dark-secondary: rgb(18, 18, 18);
    --hue : 0deg;
    
    --border-light: rgb(108, 69, 206);
    --glow: rgba(108, 69, 206, 0.5);
}
@font-face {
	font-family: 'main';
	src: url('fonts/CascadiaCode.ttf') format('truetype');
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--glow);
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background-color: var(--dark);
    border-radius: 10px;
}

body, html{
    margin : 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body{
    font-family: 'main', sans-serif;
    display: flex;
    flex-direction: column;
    color: white;
}

/*main blocks*/
header{
    height: 14%;
    max-height: 160px;
    min-height: 100px;
    background-color: black;
    border-bottom: var(--border-glow) solid 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 4%;
    padding-right: 4%;
}
main{
    background-color: rgb(26, 26, 26);
    height: 100%;
    display: flex;
    flex-direction: row;
}
nav{
    width: 20%;
    height: 100%;
    background-color: var(--dark-secondary);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
#workspace{
    width: 100%;
}
/*classes*/
.button-icon{
    cursor: pointer;
    display: flex;
    aspect-ratio: 1/1;
    height: 70%;
    align-items: center;
}
.button-icon:hover{
    transform: scale(1.06);
    transition: 0.2s;
}

.header-user-icon{
    border: rgb(77, 77, 77) 4px solid;
    border-radius: 50%;
}

.button-icon-img{
    height: 100%;
}

.small-button{
    width: 70%;
    height: fit-content;
    filter: drop-shadow(0 0 15px var(--border-glow));
    filter: hue-rotate(var(--hue));
}

.button-bordered{
    border: 3px solid gray;
    border-radius: 10px;
}

.search-bar{
    all: unset;
    background-color: rgb(68, 68, 68);
    border-radius: 10px;
    padding: 6px;
}
/*id*/
#app-name{
    font-size: 3em;
}

#header-button{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    min-width: 300px;
    max-width: 500px;
}

#main-search-bar-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border-radius: 12px;
    background: rgb(255,0,206);
    background: linear-gradient(190deg, rgba(255,0,206,1) 0%, rgba(29,0,255,1) 100%);
    filter: hue-rotate(var(--hue));
}

#workspace{
    display: flex;
    flex-direction: column;
}

#workspace-windows{
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 100%;
    gap: 4px;
}

#workspace-content{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}